# Server
PORT=5000
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# PostgreSQL
DB_HOST=192.168.136.200
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=dbpassword
DB_NAME=ngcloud

# JWT
JWT_SECRET= 80dba2025bc91f8149bce8ff73acadab25c6b6025b2badc71398c3a1b4cde5b3

# MinIO (local network defaults)
MINIO_ENDPOINT=192.168.136.200
MINIO_PORT=9003
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=ngcloud-vault

# Local HTTPS development only
HTTPS_ENABLED=true
HTTP_PORT=5001
SSL_KEY_PATH=ssl/server.key
SSL_CERT_PATH=ssl/server.cert
